<script type="text/javascript">//<![CDATA[
XHR.poll(3, '<%=url([[admin]], [[services]], [[AdGuardHome]], [[status]])%>', null,
	function(x, data) {
		var tb = document.getElementById('AdGuardHome_status');
		if (data && tb) {
			if (data.running) {
				tb.innerHTML = '<em><b><font color=green>AdGuardHome <%:Running%></font></b></em>';
			} else {
				tb.innerHTML = '<em><b><font color=red>AdGuardHome <%:Not running%></font></b></em>';
			}
		}
	}
);
//]]>
</script>
<style>.mar-10 {margin-left: 50px; margin-right: 10px;}</style>
<fieldset class="cbi-section">
	<p id="AdGuardHome_status">
		<em><%:Collecting data...%></em>
	</p>
</fieldset>
